%h1 Log in
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  %div.card
    %div.card-header
      %strong= f.label :email
    %ul.list-group.list-group-flush
      %li.list-group-item
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-group form-control"
    %div.card-header
      %strong= f.label :password
    %ul.list-group.list-group-flush
      %li.list-group-item    
        = f.password_field :password, autocomplete: "current-password", class: "form-group form-control"
  - if devise_mapping.rememberable?
    = f.check_box :remember_me, style: "width: auto"
    = f.label :remember_me
  
  = f.submit "Log in", class: "btn btn-primary btn-block"
= render "devise/shared/links"
