%div{class: "row", id: "micropost-#{micropost.id}"}
  %div.card
    %div.card-header
      %div.btn-toolbar
        %h4.btn-group.mr-2= link_to micropost.user.name, user_path(micropost.user)
        - if user_signed_in? && current_user.id != micropost.user.id && @following_users.exclude?(micropost.user)
          = form_with(model: current_user.followings.build, remote: true) do |f|
            %div= hidden_field_tag :following_user_id, micropost.user.id
            = f.submit "Follow", class: "btn-group mr-2 btn btn-primary btn-sm"
        - if user_signed_in?
          = form_with(model: micropost.likings.build, remote: true) do |f|
            %div= hidden_field_tag :micropost_id, micropost.id
            %div= hidden_field_tag :user_id, current_user.id
            = f.submit "Liking", class: "btn-group mr-2 btn btn-primary btn-sm" 
        Posted
        = l micropost.created_at
    %div.card-body
      %div.card-text
        %h4= micropost.content
