%div{class: "row", id: "micropost-#{micropost.id}"}
  %div.card
    %div.card-header
      %div.btn-toolbar
        %h4.btn-group.mr-2= link_to micropost.user.name, user_path(micropost.user)
        - if user_signed_in? && current_user.id != micropost.user.id && following_users.exclude?(micropost.user)
          = form_with(model: current_user.followings.build(following_user: micropost.user), remote: true) do |f|
            %div= f.hidden_field :following_user_id
            = f.submit "Follow", class: "btn-group mr-2 btn btn-primary btn-sm"
        - if user_signed_in? && micropost.users.exclude?(current_user)
          = form_with(model: micropost.likings.build(micropost: micropost, user: current_user), remote: true) do |f|
            %div= f.hidden_field :micropost_id
            %div= f.hidden_field :user_id
            = f.submit "Liking", class: "btn-group mr-2 btn btn-primary btn-sm"
      %h6
        = link_to "#{micropost.likings.count} liking user".pluralize(micropost.likings.count), liking_users_path(micropost_id: micropost.id)
        = link_to ", #{micropost.comments.count} comments".pluralize(micropost.comments.count), comments_path(micropost_id: micropost.id)
        = ", Posted #{l micropost.created_at}"
    %div.card-body
      %div.card-text
        %h4= micropost.content
    - if micropost.image?
      = image_tag micropost.thumbnail, class: "card-img-bottom"
