!!!
%html
  %head
    %title Mini blog
    = render 'layouts/rails_default'
    = render 'layouts/shim'
  %body
    = render 'layouts/header'
    %div.container
      - if !flash.empty?
        - flash.each do |message_type, message|
          = content_tag(:div, message, class: "alert alert-#{message_type}")
      = yield
      = debug(params) if Rails.env.development?
